<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submitted Information</title>
    <link rel="stylesheet" href="/submittedInfo.css">
</head>
<body>
    <div>
        <h1>Thank you for signing up!</h1>
        <p>Name: <span th:text="${user.name}"></span></p>
        <p>Email: <span th:text="${user.email}"></span></p>
        <p>Mobile No: <span th:text="${user.mobileNo}"></span></p>
        <p>Document: <span th:text="${user.document.originalFilename}"></span></p>
    </div>
</body>
</html>
